/* General Reset */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Navbar */
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand, .nav-link {
    font-weight: bold;
  }
  
  .navbar-dark .navbar-brand {
    color: #ffffff;
  }
  
  .navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .navbar-dark .nav-link:hover {
    color: #ffffff;
  }
  
  .loginPage,
.signupPage {
  text-align: center;
  padding: 2rem;
}

button {
  margin-top: 1rem;
}

.container {
  margin-top: 5rem;
}